
<div class="row">
  <div class="small-9 small-centered large-centered columns">
    <div id="fact-generated">
      <%= render 'fact' %>
    </div>
    <a href="/" class="large button expand" id="factsbutton">Random Dad Fact</a>
  </div>
</div>
