button:hover, button:focus, .button:hover, .button:focus { color: #222; }

.button.large {
  font-size: 2.00rem;
}

.columns.small-centered {
  text-align: center;
}

.fact-picture {
  height: 470px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.fact {
  height: 130px;
  padding-top: 10px;
}
